html,
body {
    font-family: 'Roboto', 'Helvetica', sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: #eee;
    text-align: center;
}
button {
    margin: 5px;
}

.errors {
    color: #c70f0f;
}

.answerButton {
    font-size: 20px;
}

.victoryPicture {
    margin-top: 20px;
    height: 10vh;
    margin: auto;
    display: none;
    border-radius: 60px;
    animation: fadeIn 5s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
